
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body{
    background-color: #18181B;
    color: white;
    font-family: "Fira Code", monospace;
}
.container{
    max-width: 1200px;
    margin: auto;
}

.easter{
    text-align: center;
        font-size: 1.25rem;
        font-weight: 300;
}

.intro h1{
        font-family: "Fira Code";
        font-size: 5.25rem;
        font-weight: 700;
}
.intro h2{
    color: #CFCFCF;
    font-family: "Fira Code";
    font-size: 1.875rem;
    font-weight: 400;
}

footer{
    background-color: #151515;
    height: 25rem;
}
footer .container{
    display: flex;
}
footer .texts{
    width: 50%;
}
footer .references {
    width: 50%;
}







/* BOTONES EFECTO */
.button-container {
  display: flex;
  flex-direction: row;
}
.button-profile{
  display: flex;
  margin: 20px;
  align-items: last baseline;
  text-indent: 6px;
  text-decoration: none;
  font-size: 2.2rem;
  color: #676767;
  border: none;
  border-radius: 10px;
  width: 68px;
  height: 70px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 0px 8px #e7e7e7;
}
.button-profile:hover {
  transform: translateY(6px);
  box-shadow: 0px 0px 0px 8px #c6c6c6;
}

/* BOTONES EFECTO */