
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #18181B;
    color: white;
    font-family: "Fira Code", monospace;
    overflow-x: hidden;
    width: 100dvw;
}

a {
    text-decoration: none;
    color: #808080;
}

span {
    color: #d1d1d1;
}
#hero {
    height: 100dvh;
    display: grid;
    place-content: center;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.easter{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    color: #CFCFCF;
}

.intro h1{
    font-family: "Fira Code";
    font-size: 5.25rem;
    font-weight: 700;
    margin-top: 3rem;
}
.intro h2{
    color: #CFCFCF;
    font-family: "Fira Code";
    font-size: 1.875rem;
    font-weight: 400;
}
strong, h3{
    font-size: 1.6rem;
}
p{
    font-size: 1.4rem;
}

/* BOTONES EFECTO */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}
.button-profile{
  display: flex;
  margin: 50px;
  align-items: last baseline;
  text-indent: 6px;
  text-decoration: none;
  font-size: 2.2rem;
  color: #676767;
  border: none;
  border-radius: 10px;
  width: 68px;
  height: 70px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 0px 8px #e7e7e7;
}
.button-profile:hover {
  transform: translateY(6px);
  box-shadow: 0px 0px 0px 8px #c6c6c6;
}

/* BOTONES EFECTO */
ul{
    padding-inline-start: 40px;
}
.text-container{
    margin-top: 5rem;
    padding: 1rem;
}
.text-container ul{
    margin-top: 2rem;
}
.text-container ul li{
    margin-top: 1rem;
}
.text-container p{
    margin-top: 1rem;
    margin-left: 2rem;
}

footer {
    background-color: #111111;
    margin-top: 10rem;
    padding: 2rem 0;
}

footer .divided {
    display: flex;
    font-family: "Inter", sans-serif;
    padding: 0 2rem;
}

footer .texts {
    padding-right: 3rem;
    
}
.texts h3{
    font-size: 1.25rem;
}
.texts:first-child {
    margin-top: 0;
}
.texts__content{
    margin-top: 1.5rem;
}
.texts__content:first-child {
   margin: 0; 
}

.texts__content p{
    color: #A5A5A5;
    margin-top: 1rem;
    font-size: 1.25rem;
}
footer .references {
    padding-left: 3rem;
}
footer .references h3{
    font-size: 1.25rem;
}

footer .container .references p{
    color: #A5A5A5;
    font-size: 1.25rem;
    margin-top: 1rem;
    font-family: "Inter", sans-serif;
}

footer .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding: 1rem;
}


footer .line img {
    width: 3.375rem;
    height: 3.375rem;
}
footer .line p{
    font-size: 1rem;
}
.highlighted {
    font-weight: 700;
}
.line-box-names {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}


@media screen and (max-width: 900px) {
    main, footer .container{
        padding: 10px;
    }
    footer .divided {
        display: flex;
        flex-direction: column;
    }
    hr {
        margin: 2rem 0;
    }
    footer .references{
        padding: 0;
    }
    footer .line{
        flex-direction: column;
        gap: 2rem;
    }
}
@media screen and (max-width: 1025px) {
    html {
        font-size: 85%;
    }
    footer .line {
        font-size: 1rem;
    }
}
@media screen and (max-width: 875px) {
    html {
        font-size: 75%;
    }
    .intro span h1 {
        display: none;
        font-family: "Fira Code";
        font-size: 5.25rem;
        font-weight: 700;
        margin-top: 3rem;
    }
    .intro h1 {
        font-size: calc(4dvw + 1rem);
        margin-top: 1rem;
    }
    .intro h2 {
        font-size: calc(1dvw + 0.6rem);
    }
    .button-profile {
        width: 48px;
        height: 50px;
    }
    .text-container p {
        margin-left: 0.5rem;
    }
    
    p {
        font-size: calc(0.1dvw + 1rem);
    }
}
@media screen and (max-width: 720px) {
    .line-box-names {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
    .button-profile {
        width: 38px;
        height: 40px;
        font-size: 2rem;
    }

    .button-profile {
        margin: 30px;
    }
}

/* ANIMACION CURSOR */

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: -1;
    filter: blur(250px);
    background: white;
    animation: rotate 20s infinite;
    opacity: 0.25;
}

